@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gss_manghoang';
  src: url(./Fonts/gss_manghoang.ttf);
}

html,body {
  font-family: 'gss_manghoang', sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
  background: #1c253e;
}
